@media screen and (min-width: 768px) {
  h1 {
    flex-direction: column;
  }

  .title-main {
    font-size: 58px;
    letter-spacing: 4px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .title-sub {
    font-size: 34px;
    letter-spacing: 4px;
  }

}