.dialogue-box {
    position: relative;
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    min-height: 100px;
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);
    border: 2px solid var(--color-border-transparent);

    & > button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 25px;
        background: var(--color-clear);
        transition: all 0s ease;

        &:hover,
        &:focus {
            background: var(--color-clear);
        }
    }
}

.dialogue-box__hidden {
    position: absolute;
    opacity: 0%;
    border-color: rgb(250, 0, 0);
    transition: all 0.1s ease;
    
    & p {
        color: rgb(250, 0, 0);
    }
}