.rock-paper-scissors-wallpaper {
    background-image: url('/roompic/kimiroom1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rock-paper-scissors__game-session-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.player-disc-body,
.cpu-disc-body {
    fill: var(--color-surface-body);
    pointer-events: none;
}

.rock-paper-scissors__buttons-table {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;

    .rock-paper-scissors__player-buttons-container,
    .rock-paper-scissors__cpu-buttons-container {
        display: flex;
        justify-content: center;
        width: 100%;
        aspect-ratio: 4/1;
        overflow: hidden;
    }
    .rock-paper-scissors__player-buttons-container {
        align-items: baseline;
    }
    .rock-paper-scissors__cpu-buttons-container {
        align-items: end;
    }

    .playerSlotI,
    .cpuSlotI {
        pointer-events: none;
    }

    .disc-pointing-arrow {
        fill: var(--color-interactive-body);
    }

    .sel-slot-btn-visual {
        fill: var(--color-clear);
    }
    .sel-slot-btn-foc-area {
        fill: var(--color-clear);

        &:hover {
            cursor: pointer;
            .sel-slot-btn-visual {
                fill: var(--color-interactive-body);
                transition: all 0.15s ease;
            }

            .disc-pointing-arrow {
                fill: var(--color-interactive-text-body);
            }
        }
    }
}

.rock-paper-scissors__duel-status-table {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);
    border: 1px solid var(--color-border-transparent);

    td {
        width: 50%;
        text-align: center;
    }
}

.artifact-display {
    background-color: rgb(0 0 0 / 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap: 1rem;

    .artifact-text {
        text-align: center;
    }
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.choices button:disabled {
    display: none;
}

.game-info-container {
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);
    margin: 1rem;
    padding: 1rem;
    min-height: 200px;
    border: 1px solid var(--color-border-transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        color: var(--color-text-body);
        font-family: var(--font-sans);
    }
}

.action-btn-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.player-display,
.computer-display {
    font-size: 1.5rem;
}

.result-display {
    font-weight: 600;
    font-size: 1.35rem;
}

.score-display {
    font-size: 1.35rem;
}

.element-events-paused {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}

.duel-railway {
    position: absolute;
    top: 11%;
    width: 16%;
    height: 78%;
    pointer-events: none;

    .player-railway-item {
        width: 100%;
        position: absolute;
        bottom: 0%;
    }

    .cpu-railway-item {
        width: 100%;
        position: absolute;
        top: 0%;
    }
}

.hidden {
    visibility: none;
}