.rock-paper-scissors-wallpaper {
    background-image: url('/roompic/kimiroom1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rock-paper-scissors__game-session-wrapper {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.player-disc-body,
.cpu-disc-body {
    fill: var(--color-surface-body);
    pointer-events: none;
}

.rock-paper-scissors__buttons-table {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;

    .rock-paper-scissors__player-buttons-container,
    .rock-paper-scissors__cpu-buttons-container {
        display: flex;
        justify-content: center;
        width: 100%;
        aspect-ratio: 4/1;
        overflow: hidden;
    }
    .rock-paper-scissors__player-buttons-container {
        align-items: baseline;
    }
    .rock-paper-scissors__cpu-buttons-container {
        align-items: end;
    }

    .playerSlotI,
    .cpuSlotI {
        pointer-events: none;
    }

    .disc-pointing-arrow {
        fill: var(--color-interactive-body);
    }

    .sel-slot-btn-visual {
        fill: var(--color-clear);
    }
    .sel-slot-btn-foc-area {
        fill: var(--color-clear);

        &:hover {
            cursor: pointer;
            .sel-slot-btn-visual {
                fill: var(--color-interactive-body);
                transition: all 0.15s ease;
            }

            .disc-pointing-arrow {
                fill: var(--color-interactive-text-body);
            }
        }
    }
}

.rock-paper-scissors__duel-status-table {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);
    border: 1px solid var(--color-border-transparent);

    td {
        width: 50%;
        text-align: center;
    }
}

.artifact-display {
    background-color: rgb(0 0 0 / 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    gap: 1rem;

    .artifact-text {
        text-align: center;
    }
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.choices button:disabled {
    display: none;
}

.game-info-container {
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);
    margin: 1rem;
    padding: 1rem;
    min-height: 200px;
    border: 1px solid var(--color-border-transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        color: var(--color-text-body);
        font-family: var(--font-sans);
    }
}

.action-btn-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.player-display,
.computer-display {
    font-size: 1.5rem;
}

.result-display {
    font-weight: 600;
    font-size: 1.35rem;
}

.score-display {
    font-size: 1.35rem;
}

.element-events-paused {
    opacity: 0.7;
    pointer-events: none;
    cursor: not-allowed;
}

.duel-railway {
    position: absolute;
    top: 10.5%;
    width: 16%;
    height: 78.8%;
    pointer-events: none;
    box-sizing: content-box;

    .player-railway-item {
        width: 100%;
        position: absolute;
        bottom: 0%;
    }

    .cpu-railway-item {
        width: 100%;
        position: absolute;
        top: 0%;
    }
}

.hidden {
    visibility: none;
    display: none;
}

// assign table
.assign-table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 1;
    overflow-x: visible;
    overflow-y: visible;
    transition: width 0.2s ease;
    border: 1px solid var(--color-border-transparent);
    border-radius: 10px;
    background-color: var(--color-surface-body);
    backdrop-filter: blur(50px);

    button {
        width: 60px;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        border: none;
        background: var(--color-clear);
        backdrop-filter: none;
        box-shadow: none;
        writing-mode: sideways-lr;
        text-orientation: sideways;

        svg {
            position: absolute;
            bottom: 100px;
            left: 10px;
            width: 40px;
            fill: var(--color-interactive-text-body);
        }
    }

    table {
        position: absolute;
        right: 0;
        top: 10px;
        width: 210px;
        height: calc(100% - 20px);
        border-left: 1px dashed var(--color-border-transparent);
        padding: 5px;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    .hide-table {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.assign-table__table-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: visible;
    overflow-y: visible;

    table {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 30px;

        tr {
            position: relative;
            width: 170px;
            height: 50px;
            background-color: var(--color-surface-body);
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            td {
                display: flex;
            }
        }
    }

    .assign-table__focused-item {
        outline: 2px solid var(--color-interactive-body-highlighted);
        box-shadow: 0 0 15px var(--color-interactive-body-highlighted);
        width: 230px;
        transition:
            width 0.2s ease,
            box-shadow 0.5s ease,
            outline 0.2s ease;
    }
}

.assign-table__expanded {
    width: calc(275px + 30px);
    transition: width 0.2s ease;
}

.assign-table__item-image {
    position: relative;
    width: auto;
    height: 50px;
}

.assign-table__item-icon {
    position: relative;
    width: auto;
    height: 50px;
}

.assign-table__element-icon {
    position: absolute;
    top: 0;
    left: 120px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.element-selector {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    img {
        width: 50px;
        height: 50px;
    }
}

.element-selector-body {
    fill: var(--color-interactive-body);
}
.element-selector-body-left:hover {
    fill: var(--color-interactive-body-highlighted);
    cursor: pointer;
}
.element-selector-body-right:hover {
    fill: var(--color-interactive-body-highlighted);
    cursor: pointer;
}

.el-selector__arrows {
    fill: var(--color-interactive-body-highlighted);
    pointer-events: none;
}

#nextElementCurrentSlotImage {
    pointer-events: none;
}

#prevElementCurrentSlotImage {
    pointer-events: none;
}

@media screen and (max-width: 1250px) {
    .assign-table__table-container {
        overflow-x: visible;
        overflow-y: scroll;
    }
    .assign-table__expanded {
        width: calc(290px + 30px);
    }
}